body {
    background: #fcd04b;
    font-family: Lato;
    color: white;
    padding-bottom: 100%;
}

h1 {
    text-align: center;
    font-weight: 300;
}

/* ------------------------------------------ */
/* --------------- Button 1 ------------------*/

#btn1 {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
}

#btn1:hover {
    box-shadow: 0 4px #efa424;
    top: 2px; /* 2px offset the 4px we remove from box shadow to create the pressed down effect*/
}

#btn1:active {
    box-shadow: none;
    top: 6px;
}

/* ------------------------------------------ */
/* --------------- Translate ------------------*/

.p-square {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
}

.p-square.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

.p-square.move-down {
    background-color: #3498db;
    transform: translateY(40px);
}

.p-square:hover {
    transform: translate(20px, 20px); /*(x,y)*/
}

/* ------------------------------------------ */
/* --------------- Scale + Origin ------------------*/

.scale-teal, .scale-blue {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.scale-teal {
    background: teal;
    transform: scaleX(2); /* or scale(2,3)*/
    transform-origin: 0 0;
}

.scale-blue {
    background: blue;
    transform: scale(.5);
    transform-origin: 0 0;
}

/* ------------------------------------------ */
/* --------------- Scale + Origin ------------------*/

.rotate-red, .rotate-purple {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.rotate-red {
    background-color: red;
    transform: rotate(45deg)
               scale(.5);
    transform-origin: left top;
}

.rotate-purple {
    background-color: purple;
    transform: rotate(3.5deg);
}


/* ------------------------------------------ */
/* --------------- transition ------------------*/

.box {
    width: 100px;
    height: 100px;
    background: purple;
    text-align: center;
    margin: 10px auto;
    border-radius: 5%;
}

.box:hover {
    background: red;
    transform-origin: top left;
    transform: scale(2) /*rotate(45deg)*/;
    border-radius: 50%;
}

.box-animated {
    /*transition-property: background, border-radius;*/
    /*transition-duration: 5s, 1s;*/
    /*transition-delay: 3s, 1s;*/
    transition: background 3s ease-in 1s, 
                border-radius 2s linear;
}

/* ------------------------------------------ */
/* --------------- Rainbow Text ------------------*/

@keyframes rainbowtext {
    0% {
        color: red;
        font-size: 20px;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
        font-size: 40px;
        transform: translateX(25%);
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
        font-size: 20px;
    }
}

.rainbox-hello {
    animation-name: rainbowtext;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}