#btn-orange {
    outline: none; /* when user click, theres a system default that highlights. remove it by doing this */
    border: none;
    cursor: pointer; /*when user hover, cursor changes*/
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424; /* add shadow under box */
}

#btn-orange:hover {
    box-shadow: 0 4px #efa424; /* reduce shadow under box */
    top: 2px; /* reduce the top by 2px because box-shadow was reduced by 2px in underlying psuedoclass; also why position relative is important */
}

#btn-orange:active {
    box-shadow: none; /* remove shadow */
    top: 6px; /*add back 6px (original shadow amount) after removing it completely in underlying psuedoclass; again why relative position is important*/
}

