a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: #2c3e50;
    font-family: Helvetica;
    font-weight: bold;
}

main {
    display: flex;
    flex-basis: 500px;
}

main > *, header, footer {
    border-radius: .225em;
    margin: 2px;
    padding: 10px 10px;
}

article {
    flex: 1 1 60%;
    background: #ffffff;
}

nav {
    order: -1;
    flex: 1 1 20%;
    background: #869c9f;
}

aside {
    flex: 1 1 20%;
    background: #008edc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header, footer {
    flex-basis: 100px;
    background: #01b891;
}

@media screen and (max-width: 640px) {
    main {
        flex-direction: column;
        flex-grow: 1;
    }
    
    nav {
        order: 0;
    }
    
    header, footer {
        flex-basis: 50px;
    }
}