.container {
    margin: 4em;
    text-align: center;
}

h2 {
    opacity: 0;
    animation: appear 1s 3s forwards;
}

.loader {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spin2 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: #1abc9c;
        border-bottom-color: #1abc9c;
    }
    25% {
        border-top-color: #2ecc71;
        border-bottom-color: #2ecc71;
    }
    50% {
        transform: rotate(360deg) scale(1.05);
        border-top-color: #3498db;
        border-bottom-color: #3498db;
    }
    75% {
        border-top-color: #9b59b6;
        border-bottom-color: #9b59b6;
    }
    100% {
        transform: rotate(720deg) scale(1);
        border-top-color: #1abc9c;
        border-bottom-color: #1abc9c;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flex-container {
    display: flex;
    border: 2px solid black;
}

.box {
    width: 20px;
    height: 30px;
}

.box-1 {
    background: blue;
}

.box-2 {
    background: red;
}

.box-3 {
    background: yellow;
}

.box-4 {
    background: orange;
}

.box-5 {
    background: purple;
}